

.PortalSearch {
	
   width:160px;
   height:20px;
    margin: 0.9em 0 0 0;
   display:inline-block;
   

}



 .PortalSearchButton {
}


/* FIN Formularios */

.Navegation1{
	
}
.NavegationSelect1{
	
}
.Navegation2{
    color:#3399ff;
    font-weight:bold;
 
}
.NavegationSelect2{
	 color:#FF6436;
    font-weight:bold;
	
}
